<div fxLayout="row" fxLayoutAlign="space-between">
    <div *ngFor="let day of days">
        <span>
            {{ day.name }}
        </span>
        
    </div>
</div>

<div class="row">
    <div class="column">
      <div class="card">..</div>
    </div>
    <div class="column">
      <div class="card">..</div>
    </div>
    <div class="column">
      <div class="card">..</div>
    </div>
    <div class="column">
      <div class="card">..</div>
    </div>
    <div class="column">
        <div class="card">..</div>
      </div>
      <div class="column">
        <div class="card">..</div>
      </div>
      <div class="column">
        <div class="card">..</div>
      </div>
  </div>